In [ ]:
#loc vs iloc

loc --> name
stop value - included

iloc --> integer location/number
stop value -- excluded

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('hotel_booking.csv')

In [4]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [8]:
df.set_index('arrival_date_month',inplace=True)

In [11]:
df.loc['August']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
August,Resort Hotel,0,129,2015,31,1,1,1,2,0.0,...,Transient,96.30,0,0,Check-Out,2015-08-03,Debra Franco,DFranco@yahoo.com,678-474-7635,************5320
August,Resort Hotel,1,84,2015,31,1,2,1,2,0.0,...,Transient-Party,118.06,0,0,Canceled,2015-05-12,Paul Wilson,Wilson.Paul@yahoo.com,170-353-5420,************6455
August,Resort Hotel,1,84,2015,31,1,2,1,2,0.0,...,Transient-Party,118.06,0,0,Canceled,2015-05-12,William Miranda,William.M78@hotmail.com,142-296-9037,************5066
August,Resort Hotel,1,89,2015,31,1,0,1,2,0.0,...,Transient,154.00,0,0,Canceled,2015-05-04,Laura Watson,Laura_W94@verizon.com,728-157-6959,************2916
August,Resort Hotel,1,10,2015,31,1,0,1,2,0.0,...,Transient-Party,202.00,0,0,Canceled,2015-07-29,Michael Sanchez,Michael.S16@verizon.com,474-233-0704,************9778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,30,2,5,2,0.0,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
August,City Hotel,0,102,2017,35,31,2,5,3,0.0,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
August,City Hotel,0,34,2017,35,31,2,5,2,0.0,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
August,City Hotel,0,109,2017,35,31,2,5,2,0.0,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
August,City Hotel,0,205,2017,35,29,2,7,2,0.0,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [ ]:
August -> total number of booking

In [20]:
df.loc['August',['hotel','lead_time','stays_in_week_nights']]['stays_in_week_nights'].sum()

39361

In [36]:
sum(df.loc['August']['arrival_date_year']==2017)

4925

In [39]:
df.loc['August']['arrival_date_year'].value_counts()

2016    5063
2017    4925
2015    3889
Name: arrival_date_year, dtype: int64

In [48]:
df[(df.loc['May']['reservation_status']=='Canceled')]

<ipython-input-48-83872343e3d4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df.loc['May']['reservation_status']=='Canceled')]

KeyboardInterrupt:

In [50]:
df.reset_index(inplace=True)

In [ ]:
Month --> May and Res --> Canceled

In [57]:
df[(df['reservation_status']=='Canceled') & (df['arrival_date_month']=='May')].shape[0]

4545

In [68]:
df[df['arrival_date_month']=='March']['reservation_status'].value_counts()[1]

3027

In [66]:
df[df['reservation_status']=='Canceled']['arrival_date_month'].value_counts()

August       5147
July         4646
May          4545
June         4451
April        4447
October      4173
September    4049
March        3027
February     2467
December     2289
November     2044
January      1732
Name: arrival_date_month, dtype: int64

In [ ]:
Pandas ---> SQL --> Query

In [69]:
df.query("reservation_status=='Canceled'")

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
8,July,Resort Hotel,1,85,2015,27,1,0,3,2,...,Transient,82.0,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
9,July,Resort Hotel,1,75,2015,27,1,0,3,2,...,Transient,105.5,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190
10,July,Resort Hotel,1,23,2015,27,1,0,4,2,...,Transient,123.0,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642
27,July,Resort Hotel,1,60,2015,27,1,2,5,2,...,Transient,107.0,0,2,Canceled,2015-05-11,Jaime Flynn,JaimeFlynn29@gmail.com,549-866-3721,************9660
32,July,Resort Hotel,1,96,2015,27,1,2,8,2,...,Transient,108.3,0,2,Canceled,2015-05-29,Reginald Cunningham,Reginald_C57@outlook.com,800-249-2144,************5699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107997,May,City Hotel,1,13,2017,22,29,1,2,1,...,Transient,95.0,0,0,Canceled,2017-05-17,Raymond Collins,Collins.Raymond@yahoo.com,303-383-3570,************9486
108000,May,City Hotel,1,13,2017,22,29,1,2,1,...,Transient,95.0,0,0,Canceled,2017-05-17,Jessica Bell,Jessica.B33@outlook.com,681-611-9217,************2008
110280,April,City Hotel,1,132,2017,17,25,0,0,0,...,Transient,0.0,0,3,Canceled,2017-04-25,Robert Webb,RobertWebb@mail.com,517-253-9863,************2840
111355,June,City Hotel,1,4,2017,23,5,1,0,1,...,Transient,65.0,0,0,Canceled,2017-06-05,Jill Chapman,Jill_Chapman@hotmail.com,946-165-9749,************9935
111924,May,City Hotel,1,7,2017,22,31,0,1,1,...,Transient,65.0,0,0,Canceled,2017-05-31,Joseph Snyder,Snyder.Joseph@yandex.com,887-156-4050,************3905

In [ ]:
excel --> heavy --> fast --> back end -- numpy --> 1B --

In [ ]:
logic --> Programming

In [ ]:
eBay --> 1 -- 10min

In [70]:
df['arrival_date_week_number'].sum()

3243250

In [71]:
df['arrival_date_week_number'].std()

13.605138355498454

In [72]:
df['arrival_date_week_number'].mean()

27.16517296255968

In [73]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,119380,119381,119382,119383,119384,119385,119386,119387,119388,119389
arrival_date_month,July,July,July,July,July,July,July,July,July,July,...,August,August,August,August,August,August,August,August,August,August
hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,...,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel,City Hotel
is_canceled,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
lead_time,342,737,7,13,14,14,0,9,85,75,...,44,188,135,164,21,23,102,34,109,205
arrival_date_year,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
arrival_date_week_number,27,27,27,27,27,27,27,27,27,27,...,35,35,35,35,35,35,35,35,35,35
arrival_date_day_of_month,1,1,1,1,1,1,1,1,1,1,...,31,31,30,31,30,30,31,31,31,29
stays_in_weekend_nights,0,0,0,0,0,0,0,0,0,0,...,1,2,2,2,2,2,2,2,2,2
stays_in_week_nights,0,0,1,1,2,2,2,2,3,3,...,3,3,4,4,5,5,5,5,5,7
adults,2,2,1,1,2,2,2,2,2,2,...,2,2,3,2,2,2,3,2,2,2
children,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
babies,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
meal,BB,BB,BB,BB,BB,BB,BB,FB,BB,HB,...,SC,BB,BB,BB,BB,BB,BB,BB,BB,HB
country,PRT,PRT,GBR,GBR,GBR,GBR,PRT,PRT,PRT,PRT,...,DEU,DEU,JPN,DEU,BEL,BEL,FRA,DEU,GBR,DEU
market_segment,Direct,Direct,Direct,Corporate,Online TA,Online TA,Direct,Direct,Online TA,Offline TA/TO,...,Online TA,Direct,Online TA,Offline TA/TO,Offline TA/TO,Offline TA/TO,Online TA,Online TA,Online TA,Online TA
distribution_channel,Direct,Direct,Direct,Corporate,TA/TO,TA/TO,Direct,Direct,TA/TO,TA/TO,...,TA/TO,Direct,TA/TO,TA/TO,TA/TO,TA/TO,TA/TO,TA/TO,TA/TO,TA/TO
is_repeated_guest,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
previous_cancellations,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
previous_bookings_not_canceled,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
reserved_room_type,C,C,A,A,A,A,C,C,A,D,...,A,A,G,A,A,A,E,D,A,A
assigned_room_type,C,C,C,A,A,A,C,C,A,D,...,A,A,G,A,A,A,E,D,A,A
booking_changes,3,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
deposit_type,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,...,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit
agent,NaN,NaN,NaN,304.0,240.0,240.0,NaN,303.0,240.0,15.0,...,9.0,14.0,7.0,42.0,394.0,394.0,9.0,9.0,89.0,9.0
company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
days_in_waiting_list,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
customer_type,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,...,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient,Transient
adr,0.0,0.0,75.0,75.0,98.0,98.0,107.0,103.0,82.0,105.5,...,140.75,99.0,209.0,87.6,96.14,96.14,225.43,157.71,104.4,151.2
required_car_parking_spaces,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
total_of_special_requests,0,0,0,0,1,1,0,1,1,0,...,1,0,0,0,2,0,2,4,0,2
reservation_status,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Canceled,Canceled,...,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out
reservation_status_date,2015-07-01,2015-07-01,2015-07-02,2015-07-02,2015-07-03,2015-07-03,2015-07-03,2015-07-03,2015-05-06,2015-04-22,...,2017-09-04,2017-09-05,2017-09-05,2017-09-06,2017-09-06,2017-09-06,2017-09-07,2017-09-07,2017-09-07,2017-09-07
name,Ernest Barnes,Andrea Baker,Rebecca Parker,Laura Murray,Linda Hines,Jasmine Fletcher,Dylan Rangel,William Velez,Steven Murphy,Michael Moore,...,Wanda Jones,Betty Taylor,Cesar Moreno,Jose Andersen,James Mccarty,Claudia Johnson,Wesley Aguilar,Mary Morales,Caroline Conley MD,Ariana Michael
email,Ernest.Barnes31@outlook.com,Andrea_Baker94@aol.com,Rebecca_Parker@comcast.net,Laura_M@gmail.com,LHines@verizon.com,JFletcher43@xfinity.com,Rangel.Dylan@comcast.net,Velez_William@mail.com,Steven.Murphy54@aol.com,MichaelMoore81@outlook.com,...,Wanda_J@yandex.com,BTaylor@yandex.com,Cesar_M50@comcast.net,Andersen_Jose@protonmail.com,James_M@att.com,Claudia.J@yahoo.com,WAguilar@xfinity.com,Mary_Morales@hotmail.com,MD_Caroline@comcast.net,Ariana_M@xfinity.com
phone-number,669-792-1661,858-637-6955,652-885-2745,364-656-8427,713-226-5883,190-271-6743,420-332-5209,286-669-4333,341-726-5787,316-648-6176,...,379-374-7947,114-632-1395,666-379-7260,656-714-5930,689-204-7523,403-092-5582,238-763-0612,395-518-4100,531-528-1017,422-804-6403
credit_card,************4322,************9157,************3734,************5677,************5498,************9263,************6994,************8729,************3639,************9190,...,************8581,************1795,************7835,************7923,************7994,************8647,************4333,************1821,************7860,************4482

In [74]:
df.melt()

                   variable             value
0        arrival_date_month              July
1        arrival_date_month              July
2        arrival_date_month              July
3        arrival_date_month              July
4        arrival_date_month              July
...                     ...               ...
4298035         credit_card  ************8647
4298036         credit_card  ************4333
4298037         credit_card  ************1821
4298038         credit_card  ************7860
4298039         credit_card  ************4482

[4298040 rows x 2 columns]

In [ ]:
Pandas --> DEV+DE+DA+ML+DS+AI+AUTO+TEST

In [75]:
df

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,July,Resort Hotel,0,342,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,July,Resort Hotel,0,7,2015,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,July,Resort Hotel,0,13,2015,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,July,Resort Hotel,0,14,2015,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,August,City Hotel,0,23,2017,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,August,City Hotel,0,102,2017,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,August,City Hotel,0,34,2017,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,August,City Hotel,0,109,2017,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,August,City Hotel,0,205,2017,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [76]:
df

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,July,Resort Hotel,0,342,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,July,Resort Hotel,0,7,2015,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,July,Resort Hotel,0,13,2015,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,July,Resort Hotel,0,14,2015,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,August,City Hotel,0,23,2017,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,August,City Hotel,0,102,2017,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,August,City Hotel,0,34,2017,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,August,City Hotel,0,109,2017,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,August,City Hotel,0,205,2017,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [79]:
df['lead_time'].mean()

104.01141636652986

In [78]:
df[df['lead_time']>df['lead_time'].mean()]

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,July,Resort Hotel,0,342,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
24,July,Resort Hotel,0,127,2015,27,1,2,5,2,...,Contract,94.95,0,1,Check-Out,2015-07-01,Angie Sanchez,Angie_Sanchez@att.com,211-889-2476,************8871
30,July,Resort Hotel,0,118,2015,27,1,4,10,1,...,Transient,62.00,0,2,Check-Out,2015-07-15,Diamond Wilson,Wilson.Diamond@comcast.net,870-563-6202,************8017
44,July,Resort Hotel,0,107,2015,27,2,2,5,2,...,Transient,110.70,0,2,Check-Out,2015-07-09,Rachel Davis,RachelDavis@mail.com,549-261-2558,************2810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,August,City Hotel,0,188,2017,35,31,2,3,2,...,Transient,99.00,0,0,Check-Out,2017-09-05,Betty Taylor,BTaylor@yandex.com,114-632-1395,************1795
119382,August,City Hotel,0,135,2017,35,30,2,4,3,...,Transient,209.00,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835
119383,August,City Hotel,0,164,2017,35,31,2,4,2,...,Transient,87.60,0,0,Check-Out,2017-09-06,Jose Andersen,Andersen_Jose@protonmail.com,656-714-5930,************7923
119388,August,City Hotel,0,109,2017,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,August,City Hotel,0,205,2017,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [81]:
df[df['adults']>2]['arrival_date_month'].value_counts()

August       1288
July         1203
April         613
June          570
May           463
March         441
October       366
February      352
September     335
December      320
January       205
November      124
Name: arrival_date_month, dtype: int64

In [83]:
df['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [87]:
df.sort_values(by='lead_time',ascending=False)

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
4182,February,Resort Hotel,0,709,2016,9,25,8,20,2,...,Transient,68.0,0,0,Check-Out,2016-03-24,Lisa Ray,Lisa.Ray@mail.com,776-936-2345,************5990
65240,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.0,0,0,Canceled,2015-10-21,Andrea Curtis,AndreaCurtis98@verizon.com,458-994-6768,************2062
65249,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.0,0,0,Canceled,2015-10-21,Erika Henry,ErikaHenry@mail.com,707-233-6485,************5882
65245,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.0,0,0,Canceled,2015-10-21,Kenneth Adams,Kenneth.Adams@verizon.com,967-070-1205,************9163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85725,March,City Hotel,0,0,2016,13,20,1,0,2,...,Transient,139.0,0,0,Check-Out,2016-03-21,Joshua Hines,Joshua_Hines24@protonmail.com,522-317-4440,************2072
85726,March,City Hotel,0,0,2016,13,20,1,0,1,...,Transient,150.0,0,0,Check-Out,2016-03-21,Catherine Lin,Lin_Catherine@hotmail.com,683-764-1618,************2526
85758,March,City Hotel,0,0,2016,13,20,1,0,2,...,Transient,134.0,0,2,Check-Out,2016-03-21,Michael Mercado,Michael.M@verizon.com,363-579-0373,************4439
85759,March,City Hotel,0,0,2016,13,20,1,0,2,...,Transient-Party,129.0,0,0,Check-Out,2016-03-21,Anna Watson,AWatson@zoho.com,278-164-7854,************4801
20017,January,Resort Hotel,0,0,2016,3,12,0,1,2,...,Transient,43.0,0,0,Check-Out,2016-01-13,Deanna Meadows,Deanna.Meadows@zoho.com,879-293-4813,************4191

In [89]:
df[df['lead_time']>df['lead_time'].mean()].sort_values(by='lead_time',ascending=False)

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
4182,February,Resort Hotel,0,709,2016,9,25,8,20,2,...,Transient,68.00,0,0,Check-Out,2016-03-24,Lisa Ray,Lisa.Ray@mail.com,776-936-2345,************5990
65240,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.00,0,0,Canceled,2015-10-21,Andrea Curtis,AndreaCurtis98@verizon.com,458-994-6768,************2062
65251,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.00,0,0,Canceled,2015-10-21,Joanna Oneal,Joanna.O@xfinity.com,716-941-1273,************8103
65244,March,City Hotel,1,629,2017,13,30,0,2,2,...,Transient,62.00,0,0,Canceled,2015-10-21,Robert Leach,RobertLeach@zoho.com,311-351-2508,************6300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44817,October,City Hotel,1,105,2015,42,12,1,2,2,...,Transient,110.00,0,0,Canceled,2015-08-18,Samantha Collins,Samantha.Collins@xfinity.com,836-295-6080,************4539
68438,May,City Hotel,1,105,2017,20,17,1,4,2,...,Transient,120.60,0,0,Canceled,2017-05-08,Tina Odonnell,TinaOdonnell@xfinity.com,165-269-2922,************6474
68116,May,City Hotel,1,105,2017,19,13,1,1,2,...,Transient,135.00,0,0,Canceled,2017-05-03,Heather Walters,HWalters@comcast.net,514-635-2715,************7224
44816,October,City Hotel,1,105,2015,42,12,1,2,2,...,Transient,110.00,0,0,Canceled,2015-08-18,Hannah Morgan,HMorgan35@zoho.com,323-691-6757,************6274
36397,May,Resort Hotel,0,105,2017,19,13,2,5,2,...,Contract,40.95,0,0,Check-Out,2017-05-20,Christina Arias,Christina.Arias57@mail.com,616-418-4905,************5720

In [90]:
df.sort_values(by='arrival_date_month')

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
87641,April,City Hotel,0,60,2016,17,18,1,4,2,...,Transient,110.5,0,0,Check-Out,2016-04-23,David Obrien,David.Obrien25@yahoo.com,586-448-2614,************3908
87091,April,City Hotel,0,26,2016,16,13,0,1,2,...,Transient,126.0,0,0,Check-Out,2016-04-14,Michelle Silva,Michelle_S@xfinity.com,904-646-0712,************8423
87090,April,City Hotel,0,7,2016,16,13,0,1,1,...,Transient,90.0,0,0,Check-Out,2016-04-14,Shannon Richmond,ShannonRichmond@outlook.com,830-735-6181,************9180
87089,April,City Hotel,0,21,2016,16,13,0,1,2,...,Transient,119.0,0,0,Check-Out,2016-04-14,Raymond Bauer,RaymondBauer@xfinity.com,881-524-0902,************1421
87088,April,City Hotel,0,64,2016,16,11,1,2,2,...,Transient,105.3,0,1,Check-Out,2016-04-14,Billy Brown,BBrown27@zoho.com,605-453-1322,************8524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,September,Resort Hotel,1,347,2016,40,26,2,5,2,...,Transient-Party,68.0,0,0,Canceled,2016-06-27,Christine Wright,ChristineWright@gmail.com,723-424-5858,************5843
8397,September,Resort Hotel,0,542,2016,40,26,2,5,2,...,Transient-Party,87.0,0,3,Check-Out,2016-10-03,Megan Hernandez,Hernandez_Megan@att.com,769-265-9403,************3975
8396,September,Resort Hotel,1,19,2016,40,26,2,5,1,...,Transient,0.0,0,0,Canceled,2016-09-26,Deanna Dean,Deanna_D@comcast.net,145-484-3095,************5650
8404,September,Resort Hotel,1,339,2016,40,26,3,6,2,...,Transient,80.0,0,0,Canceled,2016-01-22,Michael Jones,MichaelJones@yandex.com,381-195-8360,************3914
98043,September,City Hotel,0,116,2016,39,23,0,1,2,...,Transient,135.9,0,2,Check-Out,2016-09-24,Martin Nelson,Martin.Nelson@xfinity.com,221-500-3169,************9354

In [92]:
# connection string --> Pandas --> Database --> AWS cloud

# data transfer

# connection termination

In [93]:
def username(e):
    u = e.split('@')[0]
    return u

In [ ]:
apply --> function  complete df or single col
map

In [95]:
p = {'a':[10,50,64,34],
    'b':[34,75,34,8],
    'c':[34,87,34,9]}

In [96]:
df1 = pd.DataFrame(p)

In [97]:
df1.apply()

    a   b   c
0  10  34  34
1  50  75  87
2  64  34  34
3  34   8   9

In [98]:
def test(v):
    return v*2

In [99]:
df1.apply(test)

     a    b    c
0   20   68   68
1  100  150  174
2  128   68   68
3   68   16   18

In [102]:
df1['t']= df1['c'].apply(test)

In [103]:
df1

    a   b   c    t
0  10  34  34   68
1  50  75  87  174
2  64  34  34   68
3  34   8   9   18

In [105]:
df['username'] = df['email'].apply(username)

In [106]:
df

,arrival_date_month,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,username
0,July,Resort Hotel,0,342,2015,27,1,0,0,2,...,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,Ernest.Barnes31
1,July,Resort Hotel,0,737,2015,27,1,0,0,2,...,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,Andrea_Baker94
2,July,Resort Hotel,0,7,2015,27,1,0,1,1,...,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,Rebecca_Parker
3,July,Resort Hotel,0,13,2015,27,1,0,1,1,...,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,Laura_M
4,July,Resort Hotel,0,14,2015,27,1,0,2,2,...,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,LHines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,August,City Hotel,0,23,2017,35,30,2,5,2,...,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,Claudia.J
119386,August,City Hotel,0,102,2017,35,31,2,5,3,...,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,WAguilar
119387,August,City Hotel,0,34,2017,35,31,2,5,2,...,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,Mary_Morales
119388,August,City Hotel,0,109,2017,35,31,2,5,2,...,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,MD_Caroline
119389,August,City Hotel,0,205,2017,35,29,2,7,2,...,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,Ariana_M